# Crash Analysis

In [1]:
# get the libraries for analysis and model building
import pandas as pd
import numpy as np
import statsmodels.api as sm;

# load the dataset as DataFrame
df = pd.read_csv('Crash.dat',sep='\t') 

# View the first 5 rows of the dataset
df.head()

,MAKE,MODEL,CARID,CARID_YR,HEAD_INJ,CHEST_IN,LLEG_INJ,RLEG_INJ,DRIV_PAS,PROTECT,DOORS,YEAR,WEIGHT,SIZE,SIZE2,PROTECT2
0,Acura,Integra,Acura Integra,Acura Integra 87,599,35,791,262,Driver,manual belts,2,87,2350,lt,2,1
1,Acura,Integra RS,Acura Integra RS,Acura Integra RS 90,585,,1545,1301,Driver,Motorized belts,4,90,2490,lt,2,2
2,Acura,Legend LS,Acura Legend LS,Acura Legend LS 88,435,50,926,708,Driver,d airbag,4,88,3280,med,3,4
3,Audi,80,Audi 80,Audi 80 89,600,49,168,1871,Driver,manual belts,4,89,2790,comp,1,1
4,Audi,100,Audi 100,Audi 100 89,185,35,998,894,Driver,d airbag,4,89,3100,med,3,4

In [2]:
# dataset size , i.e., number of rows x columns
df.shape

(352, 16)

In [3]:
# display the name of the columns in the dataset
df.columns

Index(['MAKE', 'MODEL', 'CARID', 'CARID_YR', 'HEAD_INJ', 'CHEST_IN',
       'LLEG_INJ', 'RLEG_INJ', 'DRIV_PAS', 'PROTECT', 'DOORS', 'YEAR',
       'WEIGHT', 'SIZE', 'SIZE2', 'PROTECT2'],
      dtype='object')

In [4]:
# Total number of unique values under each column
df.nunique()

MAKE         37
MODEL       143
CARID       145
CARID_YR    174
HEAD_INJ    305
CHEST_IN     47
LLEG_INJ    319
RLEG_INJ    304
DRIV_PAS      2
PROTECT       5
DOORS         3
YEAR          5
WEIGHT      148
SIZE          8
SIZE2         8
PROTECT2      5
dtype: int64

In [5]:
# Total count of duplicate rows in the dataset
df.duplicated().sum()

0

In [6]:
# short summary of the dataset, i.e.,
# col_name    data_count    value_type    data_type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 16 columns):
MAKE        352 non-null object
MODEL       352 non-null object
CARID       352 non-null object
CARID_YR    352 non-null object
HEAD_INJ    352 non-null object
CHEST_IN    352 non-null object
LLEG_INJ    352 non-null object
RLEG_INJ    352 non-null object
DRIV_PAS    352 non-null object
PROTECT     352 non-null object
DOORS       352 non-null object
YEAR        352 non-null int64
WEIGHT      352 non-null int64
SIZE        352 non-null object
SIZE2       352 non-null int64
PROTECT2    352 non-null object
dtypes: int64(3), object(13)
memory usage: 44.1+ KB

In [7]:
# Count of null values in the dataset
df.isnull().sum()

MAKE        0
MODEL       0
CARID       0
CARID_YR    0
HEAD_INJ    0
CHEST_IN    0
LLEG_INJ    0
RLEG_INJ    0
DRIV_PAS    0
PROTECT     0
DOORS       0
YEAR        0
WEIGHT      0
SIZE        0
SIZE2       0
PROTECT2    0
dtype: int64

In [8]:
df.dtypes

MAKE        object
MODEL       object
CARID       object
CARID_YR    object
HEAD_INJ    object
CHEST_IN    object
LLEG_INJ    object
RLEG_INJ    object
DRIV_PAS    object
PROTECT     object
DOORS       object
YEAR         int64
WEIGHT       int64
SIZE        object
SIZE2        int64
PROTECT2    object
dtype: object

In [9]:
# Fill in empty spaces with NaN values by extracting values from strings
# Columns = HEAD_INJ, CHEST_INJ,LLEG_INJ, RLEG_INJ, DOORS, PROTECT2
df['HEAD_INJ'] = df['HEAD_INJ'].str.extract('(\d+)')
df['CHEST_IN'] = df['CHEST_IN'].str.extract('(\d+)')
df['LLEG_INJ'] = df['LLEG_INJ'].str.extract('(\d+)')
df['RLEG_INJ'] = df['RLEG_INJ'].str.extract('(\d+)')
df['DOORS']    = df['DOORS'].str.extract('(\d+)')
df['PROTECT2'] = df['PROTECT2'].str.extract('(\d+)')

df.head()

,MAKE,MODEL,CARID,CARID_YR,HEAD_INJ,CHEST_IN,LLEG_INJ,RLEG_INJ,DRIV_PAS,PROTECT,DOORS,YEAR,WEIGHT,SIZE,SIZE2,PROTECT2
0,Acura,Integra,Acura Integra,Acura Integra 87,599,35,791,262,Driver,manual belts,2,87,2350,lt,2,1
1,Acura,Integra RS,Acura Integra RS,Acura Integra RS 90,585,NaN,1545,1301,Driver,Motorized belts,4,90,2490,lt,2,2
2,Acura,Legend LS,Acura Legend LS,Acura Legend LS 88,435,50,926,708,Driver,d airbag,4,88,3280,med,3,4
3,Audi,80,Audi 80,Audi 80 89,600,49,168,1871,Driver,manual belts,4,89,2790,comp,1,1
4,Audi,100,Audi 100,Audi 100 89,185,35,998,894,Driver,d airbag,4,89,3100,med,3,4

In [10]:
# Count of null values in the dataset (After conversion from empty string to NaN)
df.isnull().sum()

MAKE         0
MODEL        0
CARID        0
CARID_YR     0
HEAD_INJ    14
CHEST_IN    11
LLEG_INJ     9
RLEG_INJ    11
DRIV_PAS     0
PROTECT      0
DOORS       66
YEAR         0
WEIGHT       0
SIZE         0
SIZE2        0
PROTECT2     4
dtype: int64

In [11]:
# Dropping all rows with null values in HEAD_INJ column
df.dropna(subset=['HEAD_INJ'],inplace=True)

In [12]:
# Convert object(string) type columns into integer type
df['HEAD_INJ'] = df['HEAD_INJ'].astype('int64')

In [13]:
# fill NaN in other columns with average value of respective columns
# 'CHEST_IN','LLEG_INJ','RLEG_INJ','DOORS','PROTECT2'

val = df['CHEST_IN'].dropna() # drop NaN value in the column
val = pd.to_numeric(val)       # convert the col values to numeric
mean_val = round(val.mean())       # get rounded mean of the column
df['CHEST_IN'].fillna(mean_val,inplace=True) # fillin the Mean Value in NaN of actual column

# applying smae steps for other columns

val = df['LLEG_INJ'].dropna() 
val = pd.to_numeric(val)      
mean_val = round(val.mean())  
df['LLEG_INJ'].fillna(mean_val,inplace=True)

val = df['RLEG_INJ'].dropna() 
val = pd.to_numeric(val)    
mean_val = round(val.mean())       
df['RLEG_INJ'].fillna(mean_val,inplace=True) 

val = df['DOORS'].dropna() 
val = pd.to_numeric(val)       
mean_val = round(val.mean())   
df['DOORS'].fillna(mean_val,inplace=True) 

val = df['PROTECT2'].dropna() 
val = pd.to_numeric(val)      
mean_val = round(val.mean())  
df['PROTECT2'].fillna(mean_val,inplace=True) 

df[['CHEST_IN','LLEG_INJ','RLEG_INJ','DOORS','PROTECT2']].isnull().sum()

CHEST_IN    0
LLEG_INJ    0
RLEG_INJ    0
DOORS       0
PROTECT2    0
dtype: int64

In [14]:
# Convert object(string) type columns into integer type
df[['HEAD_INJ','CHEST_IN','LLEG_INJ','RLEG_INJ','DOORS','PROTECT2']] = df[['HEAD_INJ','CHEST_IN','LLEG_INJ',
                                                                           'RLEG_INJ','DOORS','PROTECT2']].astype('int64')
df.dtypes

MAKE        object
MODEL       object
CARID       object
CARID_YR    object
HEAD_INJ     int64
CHEST_IN     int64
LLEG_INJ     int64
RLEG_INJ     int64
DRIV_PAS    object
PROTECT     object
DOORS        int64
YEAR         int64
WEIGHT       int64
SIZE        object
SIZE2        int64
PROTECT2     int64
dtype: object

In [15]:
df.describe()

,HEAD_INJ,CHEST_IN,LLEG_INJ,RLEG_INJ,DOORS,YEAR,WEIGHT,SIZE2,PROTECT2
count,338.000000,338.000000,338.000000,338.000000,338.000000,338.000000,338.000000,338.000000,338.000000
mean,900.568047,48.523669,1058.073964,740.180473,3.130178,88.881657,2902.917160,3.553254,1.896450
std,465.049823,9.556689,542.827741,424.225893,0.888890,1.398671,592.878968,2.416279,1.159883
min,157.000000,31.000000,120.000000,89.000000,2.000000,87.000000,1590.000000,1.000000,1.000000
25%,583.000000,42.000000,691.750000,450.000000,2.000000,88.000000,2465.000000,2.000000,1.000000
50%,790.500000,47.000000,1012.500000,656.500000,3.000000,89.000000,2845.000000,3.000000,1.000000
75%,1069.500000,54.000000,1365.500000,943.500000,4.000000,90.000000,3284.000000,6.000000,3.000000
max,3665.000000,97.000000,3347.000000,2856.000000,4.000000,91.000000,5103.000000,8.000000,4.000000